@model IEnumerable<Gimnasio.Web.Models.Machine>

<div>
    <h2 class="text-center display-4">Máquinas de Ejercicio</h2>

    <br />
    <br />

    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card shadow" style="width: 18rem; margin:1rem;">
                <img src="~/Images/Machines/@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-italic text-center">@item.Type</h5>
                    <p class="card-text text-center">Marca: @item.Brand</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}