<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>¡Bienvenido!</h1>
        <h2>Somos un equipo dedicado a mantener una vida saludable.</h2>
    </div>
</section>

<main id="main">

    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="~/Images/Home/about.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h3>¿Qué es Unmir?</h3>
                    <p class="font-italic">
                        Un equipo en búsqueda de mantener una vida saludable en nosotros mismos y 
                        en nuestros clientes, ofrecemos servicios cómodos para cualquiera.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> ¿Quieres tener un cuerpo saludable?</li>
                        <li><i class="icofont-check-circled"></i> ¿Tu pasatiempo es ejercitarte?</li>
                        <li><i class="icofont-check-circled"></i> ¿Simplemente buscas un tipo de figura?</li>
                    </ul>
                    <p>
                        No esperes más y acércate a nosotros para cumplir cada una de tus metas y objetivos, 
                        queremos ser tu pilar en esta trayectoria.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up">
                    <div class="box">
                        <span>01</span>
                        <h4>Actitud</h4>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="box">
                        <span>02</span>
                        <h4>Dedicación</h4>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <span>03</span>
                        <h4>Esfuerzo</h4>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <span>Servicios</span>
                <h2>Servicios</h2>
                <p>¿Qué obtienes con nosotros?</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-dumbbell'></i></div>
                        <h4><a href="">Maquinaria</a></h4>
                        <p>Ofrecemos el mejor equipo de ejercicio para todos los gustos y necesidades.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-user-pin'></i></div>
                        <h4><a href="">Apoyo</a></h4>
                        <p>Nuestros entrenadores están capacitados para ayudar a cualquiera.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-happy-beaming'></i></div>
                        <h4><a href="">Instalaciones</a></h4>
                        <p>Contamos con áreas de descanso y relajación para después de un arduo día.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-dish'></i></div>
                        <h4><a href="">Balance</a></h4>
                        <p>Ofrecemos nutriólogos que trabajan de forma personalizada con nuestros clientes.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-fridge'></i></div>
                        <h4><a href="">Productos</a></h4>
                        <p>Muchos de los ingredientes a recetas y productos propios puedes encontrarlos en nuestra tienda interior.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
                    <div class="icon-box">
                        <div class="icon"><i class='bx bx-info-square'></i></div>
                        <h4><a href="">Respeto</a></h4>
                        <p>Cada uno de los miembros de nuestro equipo de trabajo está dispuesto a ayudar de la mejor forma.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>¡Conoce las posibilidades!</h3>
                <p> Si estás interesado ahora mismo puedes conocer un poco más de nosotros.</p>
                <a class="cta-btn" href="#">¡Entrar!</a>
            </div>

        </div>
    </section>

    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <span>Precios</span>
                <h2>Precios</h2>
                <p>Elige uno de nuestros planes.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                    <div class="box">
                        <h3>Bronce</h3>
                        <h4><sup>$</sup>500<span> / mes</span></h4>
                        <ul>
                            <li>Maquinaria</li>
                            <li>Instalaciones</li>
                            <li>Tienda</li>
                            <li class="na">Entrenador</li>
                            <li class="na">Nutriólogo</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                    <div class="box featured">
                        <h3>Plata</h3>
                        <h4><sup>$</sup>700<span> / mes</span></h4>
                        <ul>
                            <li>Maquinaria</li>
                            <li>Instalaciones</li>
                            <li>Tienda</li>
                            <li>Entrenador</li>
                            <li class="na">Nutriólogo</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <div class="box">
                        <h3>Oro</h3>
                        <h4><sup>$</sup>850<span> / mes</span></h4>
                        <ul>
                            <li>Maquinaria</li>
                            <li>Instalaciones</li>
                            <li>Tienda</li>
                            <li>Entrenador</li>
                            <li>Nutriólogo</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Comprar</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contacto</span>
                <h2>Contacto</h2>
                <p>Estamos dispuestos a escucharte.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Dirección</h3>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Correo</h3>
                        <p>unmir@mail.com</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Teléfono</h3>
                        <p>+52 664 331 2592</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.8969514799924!2d-116.98899328482429!3d32.52889908104754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94875c00b2a3d%3A0x281526cf22a3e2cc!2sInstituto%20Tecnol%C3%B3gico%20de%20Tijuana!5e0!3m2!1ses-419!2smx!4v1582153715853!5m2!1ses-419!2smx" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Ingresa al menos cuatro caracteres." />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" data-rule="email" data-msg="Ingresa tu correo electrónico." />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Ingresa al menos ocho caracteres." />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escríbenos tu comentario o duda" placeholder="Mensaje"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Cargando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Tu mensaje ha sido enviado, ¡gracias!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section>

</main>