@model IEnumerable<Gimnasio.Web.Models.Nutritionist>

<div style="margin-top:100px;padding:50px;">
    <h2 class="text-center display-4">Nutriólogos</h2>

    <br />
    <br />

    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
        <div class="card shadow" style="width: 18rem; margin:1rem;">
            <img src="~/Images/Nutritionists/@item.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-italic text-center">@item.FirstName @item.LastName</h5>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}